.movie__page {
    width: 100%;
    margin-top: 20px
}

.movie__page_container {
    margin: 0 auto;
    width: 1000px;

}

.movie__page_title {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}

.movie__page_description {
    padding-top: 15px;
}

.movie__page_playerBlock {
    width: 100%;
    height: 600px;
    background: #3c3075;
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
